@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url("dashboardCssExport/usersContainer.css");
@import url("dashboardCssExport/chatContainer.css");
@import url("dashboardCssExport/sendMessageContainer.css");
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: #1c1f2c ;
}
#container {
    width: 97vw;
    height: 97vh;
    background-color: #1c1f2c ;
    display: flex;
}