<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIGN In</title>
    <link rel="stylesheet" href="styles.css">


</head>
<body>
    <div id="container">
        <div id="brand"><h1>ChatUp</h1></div>
        <div id="form-container" >
                <h1 id="form-header" class="form-container-element">Sign In</h1>
                <form method="post" id="form"  onsubmit="return validations()" action="/login">           
                        <input type="text" name="username" class="form-element form-container-element" id="username-el" placeholder="username">
                        <span id="username-error" class="error-text"><%=errorMessage%></span>
                        <input type="password" name="password" class="form-element form-container-element" id="password-el" placeholder="Password">
                        <span id="password-error" class="error-text"> </span>
                         <button type="submit" class="btn form-container-element" >sign in</button>
                    <div>
                        <span class="text form-group">New to ChatUp?<a href="/signup">  signup</a></span>
                    </div>
        
                </form>
            </div>
        </div>
    </div>
    <script src="validate.js" defer></script>
</body>
</html>